<li class="media">
    <div class="media-body">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object img-circle "
                     src="${favoritePostVoTemp.postDomain.postUser.avatar}">
            </a>
            <div class="media-body">
                <a href="" class="text-muted">
                    #if($stringUtils.isNotEmpty(${favoritePostVoTemp.postDomain.title}))
                        <h6>$!{favoritePostVoTemp.postDomain.title}</h6>
                    #end
                    <em>
                        $!{favoritePostVoTemp.postDomain.brief}
                    </em>
                    #if($collectionUtils.isNotEmpty(${favoritePostVoTemp.postDomain.imgList}))
                    <div class="row">
                        #foreach($imgDomainTemp in ${favoritePostVoTemp.postDomain.imgList})
                            <div class="col-sm-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    <img src="${lostImg.imgRootPath}/${lostImg.imgRelativePath}">
                                </a>
                            </div>
                        #end
                    #end
                </a>
                <br>
                <small class="text-muted">$!{favoritePostVoTemp.postDomain.postAccount} | 23rd June at 5:00pm</small>
                <hr>
            </div>
        </div>

    </div>
</li>