##<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<style>

    /* ==========================================================================
       Author's custom styles
       ========================================================================== */

    /*body*/
    /*{*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*}*/

    .fb-profile img.fb-image-lg {
        z-index: 0;
        width: 100%;
        height: 258px;
        margin-bottom: 10px;
    }

    .fb-image-profile {
        margin: -90px 10px 0px 50px;
        z-index: 9;
        width: 15%;
    }

    @media (max-width: 768px) {

        .fb-profile-text > h1 {
            font-weight: 700;
            font-size: 16px;
        }

        .fb-image-profile {
            margin: -45px 10px 0px 25px;
            z-index: 9;
            width: 20%;
        }
    }
</style>
##<div class="container">
<div class="fb-profile">
    <img align="left" class="fb-image-lg" src="/static/css/images/5.jpg" alt="Profile image example"/>
    <img align="left" class="fb-image-profile thumbnail" src="/static/css/images/9.jpg" alt="Profile image example"/>

    <div class="fb-profile-text">
        <h1>Eli Macy</h1>

        <span class="profile-contact-links align-left">
            <a href="#" class="btn btn-link">
                <i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
                添加好友
            </a>

            <a href="#" class="btn btn-link">
                <i class="ace-icon fa fa-envelope bigger-120 pink"></i>
                发送消息
            </a>
        </span>
    </div>
</div>
##</div> <!-- /container -->
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="hr dotted"></div>
        <div>
            <div id="user-profile-2" class="user-profile">
                <div class="tabbable">
                    <ul id="homeTabUl" class="nav nav-tabs padding-18">
                        <li class="active">
                            <a data-toggle="tab" href="#timeline_personal">
                                <i class="purple ace-icon glyphicon glyphicon-facetime-video bigger-120"></i>
                                个人动态
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#aboutMe" onclick="loadHomeTab('/personal/home/aboutMe/index','aboutMe')">
                                <i class="orange ace-icon fa fa-rss bigger-120"></i>
                               关于我
                            </a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#baseInfo" onclick="loadHomeTab('/personal/home/baseInfo/index','baseInfo')">
                                <i class="green ace-icon fa fa-user bigger-120"></i>
                                 个人信息
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content no-border padding-24">
                        <div id="timeline_personal" class="tab-pane  in active">
                             #parse("/personal/home/dynamics/index.vm")
                        </div><!-- /#home -->
                        <div id="aboutMe" class="tab-pane">
##                            #parse("/personal/home/aboutMe/index.vm")
                        </div><!-- /#feed -->
                        <div id="baseInfo" class="tab-pane">

                        </div><!-- /#home -->
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->

<script>
    $(function () {
        ace.settingFunction.main_container_fixed(null, true);
    })
    function loadHomeTab(url, tabId) {
        $("#homeTabUl div").removeClass("active");
        $("#"+tabId).addClass("active");
        $.ajax({
            url: url,
            dataType: 'html',
            success: function (data) {
                $("#" + tabId).html(data);
            },
            error: function () {
               alert("加载页签错误");
            }
        });
    }
</script>

