<div id="timeline-1">
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <!-- #section:pages/timeline -->
            <div class="timeline-container">
                <div class="timeline-items">
                    <!-- #section:pages/timeline.item -->
                    <div class="timeline-item clearfix" id="peronalDynamicTimelineId">
                        <div class="timeline-info">
                            <img alt="Susan't Avatar" src="/static/assets/avatars/avatar1.png"/>
                            <span class="label label-info label-sm">16:22</span>
                        </div>
                        <div class="widget-box transparent">
                            <div class="widget-header widget-header-small">
                                <h5 class="widget-title smaller">Haloween party</h5>
                                <span class="widget-toolbar">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    1 hour ago
                                </span>
                            </div>
                            <div class="widget-body">
                                <div class="widget-main">
                                    <form id="timelimeFormId">
                                        <div class="clearfix">
                                            <div>
                                                <textarea id="timelineArea" name="content" class="autosize-transition form-control"  style="overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 120px;"></textarea>
                                            </div>
                                            <div>
                                                <div class="clearfix">
                                                    <div class="pull-left">
                                                        <span id="emoji1" class="emoji-container">
                                                            <img alt="smile" style="width:58px;height:59px" src="/plugins/emoji/emoji/unicode/1f604.png" class="emoji-tbtn">
                                                        </span>
                                                        <img alt="Image 1" class="dropz" width="60" src="/image/plus.jpg"/> 每张图片不能超过5M，最多上传5张
                                                    </div>
                                                    <div class="pull-right">
                                                        <button class="btn btn-success" onclick="return publishLineTime(this)">发布</button>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                    <ul class="ace-thumbnails clearfix" id="publishImagListId">
    ##
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.timeline-items -->

            </div><!-- /.timeline-container -->
            <!-- /section:pages/timeline -->
        </div>
        <div class="col-xs-12 col-sm-10 text-center">
            <button id="loadMoreDynamic" type="button" class="btn btn-sm btn-primary btn-white btn-round" page="1" limit="10" idLt="" onclick="loadPeronalDynamics()">
                <i class="ace-icon fa fa-rss bigger-150 middle orange2"></i>
                <span class="bigger-110">加载更多。。。</span>
            </button>
        </div>
    </div>
</div>
<div id="replyImagListTemplateId" style="display: none">
    <li>
        <input type="hidden" name="imgStrs">
        <img width="80" height="80" alt="80x80" src=""/>

        <div class="tools tools-bottom">
            <a href="javascript:;" onclick="replyImgDelete(this)">
                <i class="ace-icon fa fa-times red"></i>删除
            </a>
        </div>
    </li>
</div>

<script type="text/javascript" src="/static/js/app/timeline.js"></script>