#if($collectionUtils.isNotEmpty($friendList))
    #foreach($friend in $friendList)
    <div class="itemdiv memberdiv">
        <div class="inline pos-rel">
            <div class="user">
                <a href="#">
                    <img class="img-circle img-responsive" src="$!{friend.avatar}" alt="Bob Doe's avatar" />
                </a>
            </div>

            <div class="body">
                <div class="name">

                    <a href="#">
                        <strong id="${friend.friendAccount}_friendAlias"> #if(${stringUtils.isEmpty($friend.friendAlias)}) $!{friend.username} #else $friend.friendAlias #end</strong>
                    </a>
                    <br>
                    <span class="label label-sm label-yellow arrowed-in arrowed-in-right">
                       <div class="time">
                           <i class="ace-icon fa fa-clock-o middle orange"></i>
                           <span class="green"> 20 mins ago </span>
                       </div>
                    </span>

                </div>
            </div>

            <div class="popover">
                <div class="arrow"></div>

                <div class="popover-content">
                    #if(${stringUtils.isEmpty($friend.friendAlias)})
                        <div name="nameInfoDiv">
                            <span class="ace-icon glyphicon glyphicon-user #if($female_sex == ${friend.sex}) red #else blue  #end "></span>
                            <span name="nameTextSpan">$!{friend.username}</span>
                            <input type="text" class="input-sm" name="nameAliasSpan" style="display: none;width: 140px" value="$!{friend.username}">
                            <a href="javascript:;" onclick="showUpdateAlias(this,'${friend.friendAccount}','$!{friend.username}')">
                                  <i class="ace-icon fa  fa-pencil-square-o bigger-110"></i>
                            </a>
                        </div>
                        <div>账号：<em>$!{friend.friendAccount}</em></div>
                        #else
                            <div name="nameInfoDiv">
                                <span class="ace-icon glyphicon glyphicon-user #if($female_sex == ${friend.sex}) red #else blue  #end"></span>
                                <span name="nameTextSpan">$!{friend.friendAlias}</span>
                                <input type="text" class="input-sm" name="nameAliasSpan" style="display: none;width: 140px" value="$!{friend.friendAlias}">
                                <a href="javascript:;" class="btn-link btn"   onclick="showUpdateAlias(this,'${friend.friendAccount}','$!{friend.username}')">
                                    <i class="ace-icon fa  fa-pencil-square-o bigger-110"></i>
                                </a>
                            </div>
                            <div>账号：<em>$!{friend.friendAccount}</em></div>
                            <div>昵称：<em>$!{friend.username}</em></div>
                    #end
                    <div class="hr dotted hr-8"></div>
                    <div>年龄：<em>$!{friend.age}</em></div>
                    <div>现居：<em>$!{friend.domicileText}</em></div>
                    <div class="hr dotted hr-8"></div>
                    <div class="tools action-buttons">
                        <button type="button" class="btn btn-success btn-xs" onclick="showMsgDetail(this,'${friend.friendAccount}')">
                            <i class="fa fa-comments-o"></i>移除黑名单
                        </button>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-warning btn-xs" onclick="cancelMeFollowFn(this,'${friend.friendAccount}')">
                            <i class="ace-icon fa fa-undo"></i>关注
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #end
    #if(${showMore})
    <div class="col-md-12  col-sm-12 col-xs-12  text-center">
        <a href="javascript:;" id="loadMoreFriendId" onclick="loadMoreFriend($!{page},$!{pageSize})"><i
                class="ace-icon fa fa-angle-double-down icon-only bigger-110"></i>加载更多</a>
    </div>
    #end
#end

<script>
    $(function(){
        $('#friendListId .memberdiv').on('mouseenter touchstart', function(){
            var $this = $(this);
            var $parent = $this.closest('.tab-pane');

            var off1 = $parent.offset();
            var w1 = $parent.width();

            var off2 = $this.offset();
            var w2 = $this.width();

            var place = 'left';
            if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) place = 'right';

                $this.find('.popover').removeClass('right left').addClass(place);
        })
//                .on('click', function(e) {
//            debugger;
//            e.preventDefault();
//        });
        $("#meFellowFriendSpanId").html("$!{friendCount}");
    })
</script>