#set($layout="/layout/empty.vm")
<div id="myReplyListId">
#parse("/myCenter/commentReply/replyList.vm")
</div>

<script>
    function searchMyCommentToMe(page) {
        var param = $("#myPostForm").serializeJSON();
        param.page = page;
        $.ajax({
            url: "/myCenter/commentReply/queryReplyToMe",
            type: 'POST',
            data: param,
            dataType: "json",
            success: function (response) {
                var message = "";
                if (response) {
                    message = response.message;
                    if (response.success) {
                        $("#myReplyListId").html(response.body);
                        return false;
                    }
                }
                message = "" == $.trim(message) ? "评论回复查询失败！" : message;
                alert(message);
            },
            error: function (request, ajaxOptions, thrownError) {
                alert("系统或网络异常！");
            }
        });
        return false;
    }

    function deleteCommentById(obj){
        var commentId = $(obj).attr("commentId");
        $.ajax({
            url: "/myCenter/commentReply/deleteCommentById",
            type: 'POST',
            data: "id=" + commentId,
            dataType: "json",
            success: function (response) {
                var message = "";
                if (response) {
                    message = response.message;
                    if (response.success) {
                        $(obj).closest(".media").remove();
                        return false;
                    }
                }
                message = "" == $.trim(message) ? "删除评论失败！" : message;
                alert(message);
            },
            error: function (request, ajaxOptions, thrownError) {
                alert("系统或网络异常！");
            }
        });
    }
</script>