#set($layout="/layout/empty.vm")

<div class="col-sm-12 text-right">
    <ul class="pagination">
        #set($paginator = ${paginatorImpl})
        <li  #if(${paginator.isFirstPage()}) class="disabled"  #end>
            <a href="javascript:;" onclick="loadPersonMessage(${paginator.prePage},${paginator.limit})">
                上一页
            </a>
        </li>
        #set( $sliders = ${paginator.slider})
        #foreach($pIndex in $sliders)
            #if($velocityCount == 1 && $pIndex != 1)
                <li>
                    <a href="javascript:;" onclick="loadPersonMessage(1,${paginator.limit})">1 #if($pIndex != 2)
                        ...  #end</a>
                </li>
            #end
            <li #if($pIndex == ${paginator.page}) class="active" #end>
                <a href="javascript:;" onclick="loadPersonMessage(${pIndex},${paginator.limit})">$pIndex</a>
            </li>
            #if($velocityCount == ${sliders.size()} && $pIndex < ${paginator.totalPages})
                <li>
                    #set($preLastPage = ${pIndex} + 1)
                    <a href="javascript:;"
                       onclick="loadPersonMessage(${paginator.totalPages},${paginator.limit})"> #if(${preLastPage} != ${paginator.totalPages})
                        ...#end ${paginator.totalPages}</a>
                </li>
            #end
        #end
        <li  #if(${paginator.isLastPage()}) class="disabled"  #end>
            <a  #if(!${paginator.isLastPage()}) href="javascript:;"  #end
                                                onclick="loadPersonMessage(${paginator.nextPage},${paginator.limit})">
                下一页
            </a>
        </li>
        <li>
            <input type="number" placeholder="页码" style="width:50px;text-align:center;float:left" id="gotoPageText" value="">
        </li>
        <li>
            <a href="javascript:;" onclick="gotoMessagePage(this)" limit="${paginator.limit}"
               totalPages="${paginator.totalPages}" class="btn btn-mini btn-success">
                跳转
            </a>
        </li>
    </ul>
</div>