.ui-widget-overlay {
    background: rgba(170, 170, 170, 0.38) none repeat scroll 0 0;
    opacity: 0.3;
}

.postView {
    margin-top: 3px;
}

.postView span {
    display: block;
    width: 75px;
    float: left;
}

.map_post_list {
    position: absolute;
    /*zIndex : BMap.Overlay.getZIndex(this._point.lat);*/
    background: #f7f7f7 linear-gradient(to bottom, #ffffff 0%, #eeeeee 100%) repeat-x scroll 0 0;
    backgroundColor: #EE5D5B;
    border: 1px solid #BC3B3A;
    color: #669fc7;;
    height: 18px;
    padding: 2px;
    lineHeight: 18px;
    whiteSpace: nowrap;
    MozUserSelect: none;
    fontSize: 12px
}

.map_post_list_user{
    border-radius: 100%;
    max-width: 22px;
}