<style>
    .tangram-suggestion {
        z-index: 999999;
    }

    .f_map {
        width: 100%;
        height: 300px;
        overflow: hidden;
        margin: 0;
        font-family: "微软雅黑";
    }
</style>
<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
    ##        <div class="hr dotted"></div>
        <div>
            <div class="row search-page" id="search-page-1">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 ">
                            <div class="row no-padding ">
                                <div class="search-area well col-xs-12 no-padding ">

                                ##                                    <div class="pull-left">
                                ##
                                ##                                    </div>

                                    <div class="pull-right" style="margin-right: 80px">
                                        <b class="text-primary">排序</b>

                                        &nbsp;
                                        <select>
                                            <option>默认</option>
                                            <option>事件时间</option>
                                            <option>发表时间</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-3 pull-right">
                                        <div class="col-xs-3  no-margin  no-padding text-right">
                                            <label class="smaller-90 label-warning ">视野范围</label>
                                        </div>
                                        <div class="col-xs-9 no-padding">
                                            <input id="lostPlace"
                                                   onclick="showUserOrgTree('lost_place_map_panel_id');loadMap(); return false;"
                                                   style="height: 25px" readonly="" class="" placeholder="丢失地点"
                                                   type="text">
                                            <button class="btn-link pull-right" onclick="cancelMapView()"><i
                                                    class="ace-icon red glyphicon glyphicon-remove"></i></button>
                                            <div id="lost_place_map_panel_id" class="well  no-padding" name="downPanel"
                                                 style="position: absolute; width: 666px;z-index:9999; left: -507px; margin-top: -2px;display: none">
                                                <input id="lost_post_lng" name="postLng" type="hidden">
                                                <input id="lost_post_lat" name="postLat" type="hidden">

                                                <div class="col-xs-12 no-margin  well" style="padding:4px">
                                                    <div class="col-xs-12 no-padding">
                                                        <div class="col-xs-3">

                                                        </div>
                                                        <div class="col-xs-3   no-margin  no-padding">
                                                            <button class="btn pull-right btn-info btn-minier"
                                                                    type="button" onclick="definiteMapView()">
                                                                <i class="glyphicon glyphicon-search"></i>
                                                                确定视野范围
                                                            </button>
                                                        </div>
                                                        <div class="col-xs-1  no-margin  no-padding text-right">
                                                            <label class="smaller-90 label-warning ">地址</label>
                                                        </div>
                                                        <div class="col-xs-4 no-padding">
                                                            <input id="lostSuggestId" class="form-control input-sm"
                                                                   style="height:24px" placeholder="输入地址查找" type="text">
                                                            <div id="lostPlaceResultPanel"
                                                                 style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                                                        </div>
                                                        <div class="col-xs-1  no-margin  no-padding">
                                                            <button class="btn btn-info btn-minier" type="button"
                                                                    onclick="setLostPlace()">
                                                                <i class="glyphicon glyphicon-search"></i>
                                                                查找
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="lost_map" class="f_map"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        ##                            <div class="space-12"></div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- #section:pages/search.media -->
                                    <div class="media search-media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object" data-src="holder.js/72x72"/>
                                            </a>
                                        </div>

                                        <div class="media-body">
                                            <div>
                                                <h4 class="media-heading">
                                                    <a href="#" class="blue">Media heading</a>
                                                </h4>
                                            </div>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                                ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at,
                                                tempus viverra turpis ...</p>
                                            <div class="" style="clear: both">
                                                <i class="fa fa-map-marker"></i> &nbsp; <span name="geoPointToText"
                                                                                              postlng="116.39446"
                                                                                              postlat="39.920008">北京市北京市西城区</span>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- /section:pages/search.media -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
    <div name="paginator" index="paginator_1">
        <ul name="paginationUl" class="pagination">
            <li class="disabled" name="pagePre">
                <a href="javascript:;">
                    上一页
                </a>
            </li>
            <li class="disabled">
                <a href="javascript:;" name="pageNext">
                    下一页
                </a>
            </li>
            <li class="active">
                <a href="javascript:;" onclick="loadPostList(1,10)">1</a>
            </li>
            <li>
                <input type="number" placeholder="页码" style="width:50px;text-align:center;float:left" id="gotoPageText"
                       value="">
            </li>
            <li>
                <a href="javascript:;" onclick="gotoPage(this)" limit="10" totalpages="1"
                   class="btn btn-mini btn-success">
                    跳转
                </a>
            </li>
        </ul>
    </div>
</div><!-- /.row -->

<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=hMOwbodAwP7lGCPyYoTOPf2K"></script>
<script type="text/javascript" src="/static/js/app/map.js"></script>

<script>
    $(function () {
        ace.settingFunction.main_container_fixed(null, true);
    })
    var maps = null;
    function loadMap() {
        $("#lost_place_map_panel_id").show();
        if (null == maps) {
            // 百度地图API功能
            maps = new BMap.Map("lost_map");    // 创建Map实例
            var localCity = new BMap.LocalCity();
            localCity.get(function (localCityResult) {
                maps.centerAndZoom(localCityResult.center, 11);  // 初始化地图,设置中心点坐标和地图级别
            });
            maps.addControl(new BMap.MapTypeControl());   //添加地图类型控件
            maps.addControl(new BMap.NavigationControl());
            maps.addControl(new BMap.OverviewMapControl());
            maps.addControl(new BMap.ScaleControl());
            maps.addControl(new BMap.GeolocationControl({anchor: BMAP_ANCHOR_BOTTOM_RIGHT}));
            var size = new BMap.Size(100, 20);
            maps.addControl(new BMap.CityListControl());
            maps.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
            initCliSuggest();
            setLostPoint();

        }
    }
    function initCliSuggest() {
        var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
                {
                    "input": "lostSuggestId"
                    , "location": maps
                });

        ac.addEventListener("onhighlight", function (e) {  //鼠标放在下拉列表上的事件
            var str = "";
            var _value = e.fromitem.value;
            var value = "";
            if (e.fromitem.index > -1) {
                value = _value.province + _value.city + _value.district + _value.street + _value.business;
            }
            str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

            value = "";
            if (e.toitem.index > -1) {
                _value = e.toitem.value;
                value = _value.province + _value.city + _value.district + _value.street + _value.business;
            }
            str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
            $("#lostPlaceResultPanel").html(str);
        });

        var myValue;
        ac.addEventListener("onconfirm", function (e) {    //鼠标点击下拉列表后的事件
            var _value = e.item.value;
            myValue = _value.province + _value.city + _value.district + _value.street + _value.business;
            $("#lostPlaceResultPanel").html("onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue);
            console.info("*****onconfirm*******");
            console.info(_value);
            setLostPlace();
        });
    }
    function setLostPoint() {
        maps.addEventListener("tilesloaded", function (v1, v2, v3) {
            if ($("#lost_place_map_panel_id").css("display") == "none") {
                return;
            }
            var point = maps.getCenter();
            var marker = new BMap.Marker(maps.getCenter());  // 创建标注
            maps.clearOverlays();    //清除地图上所有覆盖物
            maps.addOverlay(marker);               // 将标注添加到地图中
            marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
//            $("#lost_post_lng").val(point.lng);
//            $("#lost_post_lat").val(point.lat);
        });
    }

</script>



