<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=hMOwbodAwP7lGCPyYoTOPf2K"></script>
<style type="text/css">
    .widget {
        position: relative;
        margin-bottom: 30px;
        padding: 0px 20px;
        background: #fff;
        border-radius: 3px;
    }

    .widget-controls {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        padding: 14px;
        font-size: 12px;
    }

    .widget-controls > a {
        padding: 1px 4px;
        border-radius: 4px;
        color: rgba(0, 0, 0, 0.4);
        -webkit-transition: color 0.15s ease-in-out;
        -o-transition: color 0.15s ease-in-out;
        transition: color 0.15s ease-in-out;
        color: #fff;
    }

    .text-white {
        color: #fff;
    }

    .bg-body, .bg-body-light,
    .bg-gray, .bg-gray-transparent,
    .bg-transparent, .bg-primary,
    .bg-success, .bg-warning,
    .bg-danger, .bg-info {
        -webkit-transition: background-color 0.15s ease-in-out;
        -o-transition: background-color 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out;
    }

    .bg-warning {
        background-color: #f0b518;
    }

    .bg-info {
        background: #39bbdb;
    }

    .widget-top-overflow {
        margin-top: -15px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .widget-top-overflow, .widget-middle-overflow {
        position: relative;
        margin: 0 -20px;
    }

    .windget-padding-md {
        padding: 15px 20px;
    }

    /*.tags {*/
        /*padding-left: 0;*/
        /*list-style: none;*/
    /*}*/

    /*.tags > li {*/
        /*float: left;*/
        /*margin: 3px;*/
    /*}*/

    h3, .h3 {
        font-size: 24px;
    }

    /*.tags > li > a {*/
        /*padding: 2px 8px;*/
        /*font-size: 13px;*/
        /*border-radius: 6px;*/
        /*border: 1px solid white;*/
        /*color: inherit;*/
        /*text-decoration: none;*/
    /*}*/

    .mt-n-lg {
        margin-top: -30px;
    }

    .post-user {
        position: relative;
    }

    .mr {
        margin-right: 15px;
    }

    .thumb-xs, .thumb-sm, .thumb-lg, .thumb {
        position: relative;
        display: inline-block;
        text-align: center;
    }

    .thumb-lg {
        width: 60px;
    }

    .thumb-xs img, .thumb-sm img, .thumb-lg img, .thumb img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }

    .post-user img {
        border: 3px solid white;
    }

    .fs-mini {
        font-size: 13px;
    }

    .text-light {
        opacity: .8;
    }

    p {
        margin: 0 0 10px;
    }

    .widget > footer {
        margin: 0 -20px -15px;
        padding: 15px 20px;
    }

    .bg-body, .bg-body-light, .bg-gray,
    .bg-gray-transparent,
    .bg-transparent, .bg-primary,
    .bg-success, .bg-warning,
    .bg-danger, .bg-info {
        -webkit-transition: background-color 0.15s ease-in-out;
        -o-transition: background-color 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out;
    }

    .bg-body-light {
        background-color: #f6f6f6;
    }

    .post-links {
        margin-bottom: 0px;
        font-size: 12px;
        padding-left: 0;
    }

    .post-links > li {
        float: left;
        list-style: none;
        margin: 4px;
    }

    .post-links > li > a {
        text-decoration: none;
        color: #999;
    }

    .post-links + .post-comments {
        margin-top: 30px;
    }

    .widget > footer .post-comments {
        margin-left: -20px;
        margin-right: -20px;
    }

    .post-comments {
        font-size: 12px;
        padding-left: 0;
    }

    .mb-0 {
        margin-bottom: 0;
    }

    .post-comments > li {
        padding: 10px;
        border-top: 1px solid #e7e7e7;
        list-style: none;
    }

    .post-comments .avatar {
        margin-top: 1px;
    }

    .mr-sm {
        margin-right: 10px;
    }

    .thumb-xs, .thumb-sm, .thumb-lg, .thumb {
        position: relative;
        display: inline-block;
        text-align: center;
    }

    .thumb-xs {
        width: 28px;
    }

    .post-comments .author {
        margin-top: 0;
        margin-bottom: 2px;
        color: #7ca9dd;
    }

    .fw-semi-bold {
        font-weight: 600;
    }

    h6, .h6 {
        font-size: 12px;
    }

    .post-comments .comment-body {
        overflow: auto;
    }

</style>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <section class="widget">
            <div class="widget-body">
                <div class="widget-top-overflow windget-padding-md clearfix bg-info text-white">
                    <h3 class="mt-lg mb-lg">$!{post.title}</h3>
                    <div class="text-white pull-right">
                        <span class="label label-sm label-yellow arrowed arrowed-right">$!{post.postText}</span>
                        <span class="label label-sm label-yellow arrowed arrowed-right">$!{post.postTypeText}</span>
                        <span class="label label-sm label-yellow arrowed arrowed-right">$!{post.goodTypeText}</span>
                        <span class="label label-sm label-yellow arrowed arrowed-right">$!{post.placeTypeText}</span>
                        <span class="label label-sm label-yellow arrowed arrowed-right">时间 $!{post.happenedDateString}</span>
                        <span class="label label-sm label-yellow arrowed arrowed-right"><i class="fa fa-map-marker"></i> &nbsp; <span id="addressId"></span></p></span>
                    </div>
                </div>
                <div class="post-user mt-n-lg">
                        <span class="thumb-lg pull-left mr">
                            <img class="img-circle" src="$!{post.postUser.avatar}" alt="...">
                        </span>
                    <h5 class="mt-sm fw-normal text-white">$!{post.postAccount}<small class="text-white text-light">海南，儋州</small></h5>
                    <p class="fs-mini text-muted"><time>$!{post.postTimeString}</time> &nbsp;
                </div>
                <hr>
                <p class="text-light fs-mini m">
                    $!{postDetail.postText}
                </p>
                <div class="text-center">
                    <button  onclick="upIncrement(this,'/post/lost/post/upIncrement?id=$!{post.id}')" class="btn btn-link  btn-sm"><i class="glyphicon fa-2x glyphicon-thumbs-up"></i><span name="num">$!{post.upNum}</span></button>
                    <button  onclick="downIncrement(this,'/post/lost/post/downIncrement?id=$!{post.id}')" class="btn btn-link  btn-sm"><i class="glyphicon fa-2x glyphicon-thumbs-down"></i><span name="num"> $!{post.downNum}</span> </button>
                    <button  onclick="loveIncrement(this,'/post/lost/post/loveIncrement?id=$!{post.id}')" class="btn btn-link  btn-sm"><i class="ace-icon fa-2x fa fa-heart red"></i> <span name="num">$!{post.loveNum}</span>
                    </button>
                </div>
            </div>

        </section>
    </div>
</div>
<hr>
<div class="row">
    <form id="lostPostFormReply">
        <input type="hidden" name="postId" id="postId" value="$!{post.id}">

        <div class="col-xs-12">
            <div class="col-sm-3 text-right">
                <img height="80" src="/static/assets/avatars/profile-pic.jpg" alt="Domain Owner's Avatar"
                     class="thumbnail inline no-margin-bottom">
            </div>
            <div class="col-sm-6 no-padding widget-container-col">
                <div class="widget-box widget-color-dark">
                    <div class="widget-header">
                        <h6 class="widget-title">
                            <span id="emoji1" class="emoji-container">
                                <img alt="smile" src="/plugins/emoji/emoji/unicode/1f604.png" class="emoji-tbtn">
                            </span>
                                    <span>
                                             &nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="dropz ace-icon glyphicon glyphicon-picture bigger-120"
                                               style="cursor: pointer"> </i>
                                    </span>
                        </h6>

                        <div class="widget-toolbar">
                            <a href="#" data-action="settings">
                                <i class="ace-icon fa fa-cog"></i>
                            </a>

                            <a href="#" data-action="reload">
                                <i class="ace-icon fa fa-refresh"></i>
                            </a>

                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>

                            <a href="#" data-action="close">
                                <i class="ace-icon fa fa-times"></i>
                            </a>

                            <a href="#" data-action="fullscreen" class="orange2">
                                <i class="ace-icon fa fa-expand"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <!-- #section:custom/scrollbar -->
                        <div class="widget-main padding-4 scrollable" data-size="125">
                            <div class="content">
                                <textarea id="area1" class='area'></textarea>
                                <ul class="ace-thumbnails clearfix" id="replyImagListId">
                                </ul>
                            </div>
                        </div>

                        <!-- /section:custom/scrollbar -->
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-9 no-padding text-right">
            <button class="btn btn-sm btn-warning" onclick="return reply()">
                <i class="ace-icon fa fa-reply green icon-only bigger-130"></i>
                <span class="bigger-110 no-text-shadow">回复</span>
            </button>
        </div><!-- /.col -->

    </form>
    <div id="replyImagListTemplateId" style="display: none">
        <li>
            <input type="hidden" name="imgStrs">
            <img width="100" height="120" alt="100x120" src=""/>

            <div class="tools tools-bottom">
                <a href="javascript:;" onclick="replyImgDelete(this)">
                    <i class="ace-icon fa fa-times red"></i>删除
                </a>
            </div>
        </li>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12" id="lostPostList">

    </div>
</div>

<script>
    $(function(){
        var point = new BMap.Point($!{post.postLng},$!{post.postLat});
        var geoc = new BMap.Geocoder();
        geoc.getLocation(point, function(rs){
            var addComp = rs.addressComponents;
            $("#addressId").html($.trim(addComp.province) + $.trim(addComp.city) + $.trim(addComp.district) + $.trim(addComp.street) + $.trim(addComp.streetNumber) + "附近");
        });
    })
</script>

<script type="text/javascript" src="/static/js/app/postDetail.js"></script>
