#set($layout="/layout/empty.vm")
<style>
    .myPostView{
        min-width: 70px;
    }
    .myPostViewDetail{
        min-width: 310px;
    }
</style>
<div class="row">
    <form id="myPostForm">
        <div class="col-sm-12">
            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                <label class="col-md-4 text-right control-label no-padding">发表时间：</label>

                <div class="col-md-7 input-group  no-padding">
                    <input class="form-control date-picker" name="collegeYear" readonly=""
                           data-date-format="yyyy" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                <label class="col-md-4  control-label no-padding">至：</label>

                <div class="col-md-7 input-group  no-padding">
                    <input class="form-control date-picker" name="collegeYear" readonly=""
                           data-date-format="yyyy" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar bigger-110"></i></span>
                </div>
            </div>
            <div class="form-group col-lg-4 col-md-4 col-sm-4">
                <label class="col-md-4 text-right control-label no-padding">帖子版块：</label>

                <div class="col-md-7 no-padding">
                    <select class="form-select" id="monthlyIncome" name="monthlyIncome">
                        <option value="">请选择</option>
                        #foreach($postTypeEnum in $!{postTypeEnums})
                            <option value="$!{postTypeEnum.key}">$!{postTypeEnum.value}</option>
                        #end
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <button class="btn btn-sm btn-success dropdown-toggle" onclick="return searchMypost(1);">
                <i class="ace-icon glyphicon glyphicon-search  bigger-110"></i>
                查找
            </button>
        </div>
    </form>
</div>
<hr>
<div class="list-group" id="postListGroupId">
    #parse("/myCenter/postManger/listGroupItem.vm")
</div>

<script>
    function searchMypost(page) {
        var param = $("#myPostForm").serializeJSON();
        param.page = page;
        $.ajax({
            url: "/myCenter/postManger/queryMyPost",
            type: 'POST',
            data: param,
            dataType: "json",
            success: function (response) {
                var message = "";
                if (response) {
                    message = response.message;
                    if (response.success) {
                        $("#postListGroupId").html(response.body);
                        return false;
                    }
                }
                message = "" == $.trim(message) ? "帖子查询失败！" : message;
                alert(message);
            },
            error: function (request, ajaxOptions, thrownError) {
                alert("系统或网络异常！");
            }
        });
        return false;
    }
</script>