#set($layout="/layout/empty.vm")
<div class="row">
    <div class="col-xs-12 col-sm-12">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title col-xs-4  smaller">
                    <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                    关于我
                </h4>
                <h4 class="widget-title col-xs-4 smaller pull-right">
                    <button class="btn btn-link" onclick="aboutMeEditor(this)">
                        <i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
                        编辑
                    </button>
                </h4>
            </div>

            <div class="widget-body">
                <div class="widget-main" name="aboutMeRow">
                    <div fieldVisible="field-editdisable" id="aboutMeEditorIdText" style="white-space:normal; word-break:break-all; word-wrap:break-word;">
                       $!{userDetail.aboutMe}
                    </div>
                    <div fieldVisible="field-editable" style="display: none;">
                        <div class="wysiwyg-editor" id="aboutMeEditorId" style="white-space:normal; word-break:break-all; word-wrap:break-word;">$!{userDetail.aboutMe}</div>
                        <div class="col-xs-12 text-center">
                            <button class="btn btn-success" id="aboutMeBtnId" onclick="aboutMeEditorSave()"  style="display: inline-block;">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small">
                <h4 class="widget-title col-xs-4  smaller">
                    <i class="ace-icon fa fa-check-square-o bigger-110"></i>
                    我的形象照
                </h4>
            </div>

            <div class="widget-body">
                <div class="widget-main" name="aboutMeRow">
                    <ul class="ace-thumbnails" id="mePhotoImageId">
                        <li>
                            <img id="photoImageDrop" src="/image/plus.jpg" width="150" height="150">
                            <span class="text-muted"><em>最多只能上传5张</em></span>
                        </li>
                        #foreach($photoImage in $photoImageList)
                            <li>
                                <a href="#" data-rel="colorbox">
                                    <img alt="150x150" name="imgSrc" width="150" height="150" src="$!{photoImage.imgRootPath}$!{photoImage.imgRelativePath}" />
                                    <div class="text">
                                        <div class="inner">$!{photoImage.imgDesc}</div>
                                    </div>
                                </a>
                                <div class="tools tools-bottom">
                                    <a href="javascript:;" class="addIdAttr" id="$!{photoImage.id}" onclick="deletePhotoImage(this)">
                                        <i class="ace-icon fa fa-trash-o bigger-130 red"></i>
                                    </a>
                                </div>
                            </li>
                        #end
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small header-color-blue2">
                <h4 class="widget-title smaller col-xs-4">
                    <i class="ace-icon fa fa-lightbulb-o bigger-120"></i>
                    技能
                </h4>
                <h4 class="widget-title col-xs-4 smaller pull-right">
                    <button class="btn btn-link" onclick="addSkillEditor(this)">
                        <i class="ace-icon glyphicon glyphicon-plus bigger-110"></i>
                        添加
                    </button>
                    <button class="btn btn-link" onclick="skillEditor(this)">
                        <i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
                        编辑
                    </button>
                </h4>
            </div>

            <div class="widget-body">
                <div class="widget-main" style="padding:0px;margin:0px;">
                    <!-- #section:pages/profile.skill-progress -->
                    <div id="addSkillEditor" class="row  clearfix form-actions"  style="display:none;padding:10px 5px;margin-bottom:12px;">
                        <div class="col-xs-12">
                            <div class="col-xs-6">
                                <select name="skillFirst" class="form-field chosen-select form-control" data-placeholder="Choose a State...">
                                    <option value=""></option>
                                    <option value="10">Alabama</option>
                                    <option value="20">Alaska</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <select name="skillId" class="form-field chosen-select form-control" data-placeholder="Choose a State...">
                                    <option value=""></option>
                                    <option value="30">Alabama</option>
                                    <option value="40">Wisconsin</option>
                                    <option value="50">Wyoming</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="profile-skills">
                                <div class="progress" style="margin-top:12px;">
                                    <div class="progress-bar progress-bar-danger" name="progressBar" style="width:100%">
                                        <span class="pull-left" name="skillName">Photoshop</span>
                                        <span class="pull-right" name="percentage">100%</span>
                                    </div>
                                </div>
                                <input type="hidden" class="form-field" value="100" name="skillNum">
                                <div id="addSkillSliderId" class="ui-slider-simple ui-slider-dark"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center">
                            <button class="btn btn-xs btn-danger" onclick="addSkillBtn(this)">
                                提交
                            </button>
                        </div>
                    </div>
                    <div class="profile-skills" id="skillPersonalDiv">
                        #foreach($skill in $userSkillList)
                            <div class="row">
                                <div class="progress">
                                    <a name="skillDelete" style="display: none" href="javascript:;" onclick="javascript:$(this).parent().parent().remove();" class="red">
                                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                    </a>
                                    <div class="progress-bar" name="progressBar" style="width:$!{skill.skillNum}%">
                                        <span class="pull-left">$!{skill.skillName}</span>
                                        <span class="pull-right" percentage="$!{skill.skillNum}" name="percentage">$!{skill.skillNum}%</span>
                                    </div>
                                </div>
                                <input type="hidden" class="form-field" value="$!{skill.skillNum}" name="userSkills.skillNum">
                                <input type="hidden" class="form-field" value="$!{skill.id}" name="userSkills.id">
                                <div name="skillEditorSlider" class="ui-slider-simple ui-slider-dark"></div>
                            </div>
                        #end
##                        <div class="row">
##                            <div class="progress">
##                                <div class="progress-bar progress-bar-success" name="progressBar" style="width:72%">
##                                    <span class="pull-left">Javascript & jQuery</span>
##
##                                    <span class="pull-right" percentage="72" name="percentage">72%</span>
##                                </div>
##                            </div>
##                            <div name="skillEditorSlider" class="ui-slider-simple ui-slider-dark"></div>
##                        </div>
                        <div class="col-xs-12 text-center">
                            <button class="btn btn-xs btn-success" style="display: none" id="skillEditorSaveBtnId"
                                    onclick="skillEditorSave()">保存
                            </button>
                        </div>
                    </div>

                    <!-- /section:pages/profile.skill-progress -->
                </div>
            </div>
        </div>
    </div>

</div>
<div style="display: none" id="photoImageTemplateDivId">
    <li>
        <a href="#" data-rel="colorbox">
            <img alt="150x150" width="150" height="150" name="imgSrc" src="" />
            <div class="text">
                <div class="inner">Sample Caption on Hover</div>
            </div>
        </a>
        <div class="tools tools-bottom">
            <a href="javascript:;" class="addIdAttr" id="" onclick="deletePhotoImage(this)">
                <i class="ace-icon fa fa-trash-o bigger-130 red"></i>
            </a>
        </div>
    </li>
</div>
<script src="/static/js/app/aboutMe.js"/>