<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fellow.dao.PostCountMapper">

    <resultMap id="PostCount" type="com.fellow.domain.model.PostCount">
        <result property="id" column="id"/>
        <result property="postType" column="post_type"/>
        <result property="upNum" column="up_num"/>
        <result property="downNum" column="down_num"/>
        <result property="viewNum" column="view_num"/>
        <result property="replyNum" column="reply_num"/>
        <result property="createAccount" column="create_account"/>
        <result property="createName" column="create_name"/>
        <result property="createTime" column="create_time"/>
        <result property="updateAccount" column="update_account"/>
        <result property="updateName" column="update_name"/>
        <result property="updateTime" column="update_time"/>
        <result property="sysVersion" column="sys_version"/>
        <result property="isDelete" column="is_delete"/>
        <result property="ts" column="ts"/>
    </resultMap>

    <sql id="columns">
        id,post_type,up_num,down_num,view_num,reply_num,create_account,create_name,create_time,update_account,update_name,update_time,sys_version,is_delete,ts
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post_count (
            post_type,
            up_num,
            down_num,
            view_num,
            reply_num,
            create_account,
            create_name,
            create_time,
            update_account,
            update_name,
            update_time,
            sys_version,
            is_delete
            
        ) VALUES (
            #{postType},
            #{upNum},
            #{downNum},
            #{viewNum},
            #{replyNum},
            #{createAccount},
            #{createName},
            now(),
            #{updateAccount},
            #{updateName},
            #{updateTime},
            1,
            0

        )
    </insert>

    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO post_count (
            <if test="@Ognl@isNotEmpty(postType)">
                post_type,
            </if>
            <if test="@Ognl@isNotEmpty(upNum)">
                up_num,
            </if>
            <if test="@Ognl@isNotEmpty(downNum)">
                down_num,
            </if>
            <if test="@Ognl@isNotEmpty(viewNum)">
                view_num,
            </if>
            <if test="@Ognl@isNotEmpty(replyNum)">
                reply_num,
            </if>
            <if test="@Ognl@isNotEmpty(createAccount)">
                create_account,
            </if>
            <if test="@Ognl@isNotEmpty(createName)">
                create_name,
            </if>
                create_time,
            <if test="@Ognl@isNotEmpty(updateAccount)">
                update_account,
            </if>
            <if test="@Ognl@isNotEmpty(updateName)">
                update_name,
            </if>
            <if test="@Ognl@isNotEmpty(updateTime)">
                update_time,
            </if>
            <if test="@Ognl@isNotEmpty(sysVersion)">
                sys_version,
            </if>
            <if test="@Ognl@isNotEmpty(isDelete)">
                is_delete
            </if>
        ) VALUES (
            <if test="@Ognl@isNotEmpty(postType)">
                #{postType},
           </if>
            <if test="@Ognl@isNotEmpty(upNum)">
                #{upNum},
           </if>
            <if test="@Ognl@isNotEmpty(downNum)">
                #{downNum},
           </if>
            <if test="@Ognl@isNotEmpty(viewNum)">
                #{viewNum},
           </if>
            <if test="@Ognl@isNotEmpty(replyNum)">
                #{replyNum},
           </if>
            <if test="@Ognl@isNotEmpty(createAccount)">
                #{createAccount},
           </if>
            <if test="@Ognl@isNotEmpty(createName)">
                #{createName},
           </if>
            now(),
                        <if test="@Ognl@isNotEmpty(updateAccount)">
                #{updateAccount},
           </if>
            <if test="@Ognl@isNotEmpty(updateName)">
                #{updateName},
           </if>
            <if test="@Ognl@isNotEmpty(updateTime)">
                #{updateTime},
           </if>
            1,
            0
            )
    </insert>

    <update id="update" >
        UPDATE post_count SET
            <if test="@Ognl@isNotEmpty(postType)">
                post_type = #{postType},
            </if>
            <if test="@Ognl@isNotEmpty(upNum)">
                up_num = #{upNum},
            </if>
            <if test="@Ognl@isNotEmpty(downNum)">
                down_num = #{downNum},
            </if>
            <if test="@Ognl@isNotEmpty(viewNum)">
                view_num = #{viewNum},
            </if>
            <if test="@Ognl@isNotEmpty(replyNum)">
                reply_num = #{replyNum},
            </if>
            <if test="@Ognl@isNotEmpty(createAccount)">
                create_account = #{createAccount},
            </if>
            <if test="@Ognl@isNotEmpty(createName)">
                create_name = #{createName},
            </if>
            <if test="@Ognl@isNotEmpty(createTime)">
                create_time = #{createTime},
            </if>
            <if test="@Ognl@isNotEmpty(updateAccount)">
                update_account = #{updateAccount},
            </if>
            <if test="@Ognl@isNotEmpty(updateName)">
                update_name = #{updateName},
            </if>
            <if test="@Ognl@isNotEmpty(updateTime)">
                update_time = now(),
            </if>
            <if test="@Ognl@isNotEmpty(sysVersion)">
                sys_version = CASE WHEN sys_version IS NULL THEN 0 ELSE sys_version + 1 END,
            </if>
            <if test="@Ognl@isNotEmpty(isDelete)">
                is_delete = #{isDelete}
            </if>
        WHERE
            id = #{id} 
    </update>

    <update id="updateByOptimisticLock" >
        UPDATE post_count
        SET
            <if test="@Ognl@isNotEmpty(postType)">
                post_type = #{postType},
            </if>
            <if test="@Ognl@isNotEmpty(upNum)">
                up_num = #{upNum},
            </if>
            <if test="@Ognl@isNotEmpty(downNum)">
                down_num = #{downNum},
            </if>
            <if test="@Ognl@isNotEmpty(viewNum)">
                view_num = #{viewNum},
            </if>
            <if test="@Ognl@isNotEmpty(replyNum)">
                reply_num = #{replyNum},
            </if>
            <if test="@Ognl@isNotEmpty(createAccount)">
                create_account = #{createAccount},
            </if>
            <if test="@Ognl@isNotEmpty(createName)">
                create_name = #{createName},
            </if>
            <if test="@Ognl@isNotEmpty(createTime)">
                create_time = #{createTime},
            </if>
            <if test="@Ognl@isNotEmpty(updateAccount)">
                update_account = #{updateAccount},
            </if>
            <if test="@Ognl@isNotEmpty(updateName)">
                update_name = #{updateName},
            </if>
            <if test="@Ognl@isNotEmpty(isDelete)">
                is_delete = #{isDelete},
            </if>
            <if test="@Ognl@isNotEmpty(updateAccount)">
            update_account =#{updateAccount} ,
            </if>
            <if test="@Ognl@isNotEmpty(updateName)">
            update_name = #{updateName} ,
            </if>
            update_time = now(),
            sys_version = sys_version + 1
        WHERE
            sys_version = #{sysVersion, jdbcType=INTEGER}
            AND id = #{id} 
    </update>

    <delete id="delete">
        UPDATE post_count
        SET is_delete = 1
        <if test="@Ognl@isNotEmpty(updateAccount)">
            update_account = #{updateAccount} ,
        </if>
        <if test="@Ognl@isNotEmpty(updateName)">
            update_name = #{updateName} ,
        </if>
        update_time = now(),
        sys_version = sys_version + 1
        WHERE
            id = #{id} 
    </delete>

    <delete id="deletePhysical">
        DELETE
        FROM post_count
        WHERE
            id = #{id} 
    </delete>

    <select id="getByKey" resultMap="PostCount">
        SELECT <include refid="columns" />
        FROM post_count
        WHERE
            id = #{id} 
    </select>

    <select id="findList" resultMap="PostCount">
    SELECT <include refid="columns" />
    FROM post_count
    <include refid="findList_where"/>
    <if test="@Ognl@isNotEmpty(sortColumns)">
        ORDER BY ${sortColumns}
    </if>
    </select>

    <select id="findListCount" resultType="long">
    SELECT count(1)
    FROM post_count
    <include refid="findList_where"/>
    </select>

    <sql id="findList_where">
        <where>
            <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
            <if test="@Ognl@isNotEmpty(postType)">
                AND post_type = #{postType}
            </if>
            <if test="@Ognl@isNotEmpty(upNum)">
                AND up_num = #{upNum}
            </if>
            <if test="@Ognl@isNotEmpty(downNum)">
                AND down_num = #{downNum}
            </if>
            <if test="@Ognl@isNotEmpty(viewNum)">
                AND view_num = #{viewNum}
            </if>
            <if test="@Ognl@isNotEmpty(replyNum)">
                AND reply_num = #{replyNum}
            </if>
            <if test="@Ognl@isNotEmpty(createAccount)">
                AND create_account = #{createAccount}
            </if>
            <if test="@Ognl@isNotEmpty(createName)">
                AND create_name = #{createName}
            </if>
            <if test="@Ognl@isNotEmpty(createTimeBegin)">
                AND create_time &gt;= #{createTimeBegin}
            </if>
            <if test="@Ognl@isNotEmpty(createTimeEnd)">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="@Ognl@isNotEmpty(updateAccount)">
                AND update_account = #{updateAccount}
            </if>
            <if test="@Ognl@isNotEmpty(updateName)">
                AND update_name = #{updateName}
            </if>
            <if test="@Ognl@isNotEmpty(updateTimeBegin)">
                AND update_time &gt;= #{updateTimeBegin}
            </if>
            <if test="@Ognl@isNotEmpty(updateTimeEnd)">
                AND update_time &lt;= #{updateTimeEnd}
            </if>
            <if test="@Ognl@isNotEmpty(sysVersion)">
                AND sys_version = #{sysVersion}
            </if>
            <choose>
                <when test="@Ognl@isNotEmpty(isDelete)">
                    AND is_delete = #{isDelete}
                </when>
                <otherwise>
                    AND is_delete = 0
                </otherwise>
            </choose>
        </where>
    </sql>

</mapper>